@model NextGenFootball.Web.ViewModels.League.LeagueEditViewModel

@{
    ViewData["Title"] = "Edit League";
}

<h2>Edit League</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Region" class="form-label"></label>
        <select asp-for="Region" class="form-select" asp-items="Html.GetEnumSelectList<NextGenFootball.Data.Common.Enums.Region>()">
            <option value="">-- Select Region --</option>
        </select>
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>
   

    <div class="mb-3">
        <label asp-for="AgeGroup" class="form-label"></label>
        <input asp-for="AgeGroup" class="form-control" />
        <span asp-validation-for="AgeGroup" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="@Model.SeasonId" class="form-label-add-edit">Select Season</label>
        <select asp-for="@Model.SeasonId" class="form-select" aria-required="true" asp-items="@(new SelectList(Model.Seasons, "Id", "Name"))">
            <option value="">...</option>
        </select>
        <span asp-validation-for="@Model.SeasonId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}