@using NextGenFootball.Web.ViewModels.Season
@model SeasonDetailsViewModel

@{
    ViewData["Title"] = "Season Details";
}

<h1>Season Details</h1>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Start Date
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            End Date
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            Current Season
        </dt>
        <dd class="col-sm-10">
            @(Model.IsCurrent ? "Yes" : "No")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>